# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
/plugins/
/plugins/android.json
/plugins/ios.json

#https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
!www/
www/*
!www/README.md
!changes*
!changes*/inside*/@ionic/app-scripts/dist/util/config.js"

$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

e2e/build
/desktop/*
!/desktop/assets/
!/desktop/electron.js
src/configconstants.ts
.moodleapp-dev-config
